img{border-radius:50%;
    display:block;
    margin:auto;
    background-color:black;
    
}
body{
    margin:0px;
    padding:0px;
    background-image:radial-gradient(#c7c7c72 25%, #c7c7cc7 74%,);
    font-family:systen-ui;
}
.clearfix{
    clear:both;
}
.main{
    height:1150px;
    width:800px;
    background-color:white;
    box-sadow:5px 7px 15px 5px #b9b6b6;
    margin:20px auto;
}
.top-section{
    background-color:#151b15;
    text-align:center;
    padding:0px;
}
.profile{
    width:150px;
}
.p1{
    text-align:center;
    color:withe;
    font-size:40px;
    font-weight:bold;
    margin:10px;
    margin-top:20px;
}
.p2{ 
    text-align:center;
    color: black;
    font-size:30px;
    font-weight:bold;
    margin:300px;
    margin-top:10px;

}
.p3{text-align:center;
color:black;
font-size:20px;
font-weight:bold;
margin:120px;
margin-top:10px;}
th{
background:rgb(180, 160, 170);
padding:20px;
margin:20px auto 0 auto;
border-left:1px solid #389314;
}
h1{padding:0 20px;
margin:10px;
margin-border:black;}
table{
    width:100%;
    border-collapse:collapse;
    margin:10px 0;

}
table,th,td{
    border:1px solid #ddd;
}
th,td{
    padding:10px;
    text-align:left;
}
th{
    background-color:#f2f2f2;
}
form{
    display:flex;
    flex-direction:column;
}
form lable{
    margin-top:10px;
}
form input,form text area{
    padding:10px;
    margin:5px 0;
}
button{
    background-color:#4CAF50;
    color:white;
    border:none;
    padding:10px;
    cursor:pointer;
    margin-top:10px;
}
button:hover{
    background-color:#45a049;
}
footer{
    text-align:center;
    margin-top:20px;
    font-size:14px;
    color:#777;
}